<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solmunity</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/graph.css" />
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%- include('header') %>
    <div class="main">
      <button type="button" id="btnOpenModal">제어 흐름 그래프 생성하기</button>
      <div><img id="imgGraph" src="" /></div>
    </div>

    <input type="file" id="file" hidden />

    <div class="modal">
      <div class="modalContent">
        <div class="modalHeader">
          <button id="btnClose">x</button>
        </div>
        <div class="modalBody">
          <div class="modalBodyInfo">
            <input id="name" placeholder="파일명을 입력해주세요." />
            <textarea id="code" placeholder="코드를 입력해주세요."></textarea>
          </div>
        </div>
        <div class="modalFooter">
          <button id="btnGenerate" type="button" onclick="generate()">
            변환하기
          </button>
        </div>
      </div>
    </div>
  </body>

  <script>
    const email = member.email

    const modal = document.querySelector('.modal')
    const btnOpenModal = document.getElementById('btnOpenModal')
    const btnClose = document.getElementById('btnClose')
    const imgGraph = document.getElementById('imgGraph')

    btnOpenModal.addEventListener('click', function () {
      modal.style.display = 'block'
    })

    btnClose.addEventListener('click', function () {
      modal.style.display = 'none'
    })

    async function generate() {
      const data = {
        name: document.querySelector('#name').value,
        code: document.querySelector('#code').value,
        email,
      }

      const respone = await axios({
        method: 'POST',
        data,
        url: '/graph/action',
      })
      resData = respone.data
      console.log(resData)

      if (resData.result) {
        alert(resData.message)
        modal.style.display = 'none'
        console.log('imgGraph ', imgGraph)
        console.log('resData ', resData.data.path)
        imgGraph.src = resData.data.path
      } else {
        alert(resData.message)
        return
      }
    }
  </script>
</html>
