<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div
        class="innerLog"
        style="
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        "
      >
        <img
          src="/img/logo.png"
          alt="logo"
          onclick="postIndex()"
          id="webName"
        />
        <div class="innerHeaderLogin">로그아웃</div>
      </div>

      <div class="innerHeaderLogo">
        <a href="/"><img src="/img/home.svg" class="homeImg" /></a>
        <a href="/board"><img src="/img/board.svg" class="boardImg" /></a>
        <a href="/graph"><img src="/img/graph.svg" class="graphImg" /></a>
        <img
          src="/img/profile.svg"
          onclick="postProfile()"
          class="profileImg"
        />
      </div>
    </div>

    <form action="/profile" method="post" name="formPostProfile" hidden>
      <input type="text" name="email" />
    </form>
  </body>
  <script>
    const member = JSON.parse(localStorage.getItem('member'))
    console.log('member:', member)

    window.addEventListener('load', checkLoginStatus())

    // 로그인 식별
    function checkLoginStatus() {
      const innerHeaderLogin = document.querySelector('.innerHeaderLogin')

      if (member != null) {
        // 토큰과 닉네임이 로컬 스토리지에 존재하는 경우
        // 로그인 상태로 판별하고 해당 닉네임을 사용
        innerHeaderLogin.innerText = '로그아웃'
        innerHeaderLogin.onclick = async () => {
          const respone = await axios({
            method: 'POST',
            url: '/signout',
          })
          const resData = respone.data
          console.log(resData)

          if (resData.logoutSuccess) {
            console.log('로그아웃 ok')
            localStorage.removeItem('member')
            document.location.href = '/'
          }
        }
      } else {
        innerHeaderLogin.innerText = '로그인'
        innerHeaderLogin.onclick = () => {
          window.location.href = '/signin'
        }
      }
    }

    //프로필로 이동
    function postProfile() {
      if (member) {
        const formPostProfile = document.forms['formPostProfile']
        formPostProfile.email.value = member.email
        formPostProfile.submit()
      } else {
        window.location.href = '/signin'
      }
    }
  </script>
</html>
