<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solmunity</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%- include('header') %>
    <div class="main">
      <div class="register">
        <div class="innerRegister">
          <div class="innerInfo">
            <p>
              <a href="/board" style="text-decoration: none">Board</a>
              <span class="gt">></span>
              Register
            </p>
            <p class="info">
              <span id="nickname"> 작성자: <%= data %> </span>
              <span id="date"><%= data.date %></span>
            </p>
            <form id="formPostAction">
              <textarea
                id="title"
                placeholder="제목을 입력해주세요."
              ></textarea>
              <hr
                style="margin-left: 0; width: 15%; border: 1.5px black solid"
              />
              <textarea
                id="content"
                placeholder="본문을 작성해주세요."
              ></textarea>
              <input type="file" id="file" />
              <p style="justify-content: center; display: flex">
                <button type="button" class="btnRegister" onclick="register()">
                  게시하기
                </button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    async function register() {
      const form = document.forms['formPostAction']
      const file = document.querySelector('#file')

      const data = new FormData()
      data.append('title', form.title.value)
      data.append('content', form.content.value)
      data.append('MEMBER_email', member.email)
      data.append('file', file.files[0])

      const response = await axios({
        method: 'POST',
        data,
        url: '/board/register/action',
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      })
      resData = response.data
      console.log(resData)

      if (resData.result) {
        alert(resData.message)
        location.href = '/board'
      } else {
        console.log('err:', resData.error)
        alert(resData.message)
        location.reload()
      }
    }
  </script>
</html>
