html,
body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  margin-top: 60px;
}

.divHeader {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
#btnOpenModal {
  width: 30%;
  height: 50px;
  background: lightgray;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

.divGraph {
  margin-top: 10px;
  width: 100%;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

#btnClose {
  display: block;
  width: 50px;
  height: 30px;
  margin-left: auto;
  background-color: red;
  color: white;
  font-size: 15px;
  text-align: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
}

#btnClose:hover,
#btnClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalBody {
  align-items: center;
  width: 100%;
  height: 90%;
}

.modalBodyInfo {
  font-size: 30px;
}

#name {
  font-size: 15px;
  margin-top: 15px;
}

#code {
  margin-top: 15px;
  width: 100%;
  height: 400px;
  font-size: 15px;
  outline-style: none;
  resize: none;
  overflow-y: scroll;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

#btnGenerate {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 0;
}

#btnGenerate:hover,
#btnGenerate:focus {
  color: black;
  cursor: pointer;
}
