@import url('/css/font.css');

* {
  font-family: 'HakgyoansimWoojuR';
}

.header > img,
.innerHeaderLogin,
#webName {
  cursor: pointer;
}

.header {
  height: 60px; /* 기존 50px */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  z-index: 10;
  background-color: white;
}

/* LOGO */
#webName {
  width: 120px;
}

.innerHeaderLogo {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  width: 50%;
  justify-content: space-evenly;
}

.homeImg {
  width: 30px;
  height: 30px;
  margin-top: 7px;
}
.boardImg {
  width: 35px;
  height: 35px;
  margin-top: 7px;
}
.graphImg {
  width: 27px;
  height: 27px;
  margin-top: 2.5px;
  margin-bottom: 4px;
}
.profileImg {
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
}

.innerHeaderLogin:hover {
  cursor: pointer;
  color: gray;
  font-size: 1em;
  font-weight: 800;
}
