@import url('font.css');

html,
body {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.main {
  display: flex;
  width: 70%;
  height: 100%;
}

#greeting {
  text-align: center;
  font-size: 30px;
}

#info {
  text-align: center;
  font-size: 20px;
}

.profile {
  width: 100%;
}

.divLine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

label {
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: 20px;
  margin: 0px 10px;
}

.inputModify {
  padding: 0px 15px;
  width: 35%;
  height: 30px;
  background: rgb(237, 235, 235);
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}

.btnModify {
  width: 90px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
  background: lightgray;
  border-radius: 10px;
  border: 0;
  margin: 0px 10px;
}

.myBoard {
  width: 100%;
  height: 20%;
}

.myCFG {
  width: 100%;
  height: 20%;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 30%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

#btnClose {
  display: block;
  width: 50px;
  height: 30px;
  margin-left: auto;
  background-color: red;
  color: white;
  font-size: 15px;
  text-align: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
}

#btnClose:hover,
#btnClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalBody {
  align-items: center;
  width: 100%;
  height: 50%;
}

.inputModifyModal {
  padding: 0px 15px;
  width: 60%;
  height: 30px;
  background: rgb(237, 235, 235);
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}

.btnModifyModal {
  width: 90px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
  background: lightgray;
  border-radius: 10px;
  border: 0;
  margin: 0px 10px;
}
